{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table class="table" class="table table-striped" >
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ client.phone }}</td>
            </tr>
        </tbody>
    </table>

    <div>

            <a href="{{ path('client_index') }}" class=" btn btn-warning">Back to the list</a>

        {% if app.user.hasRole('ROLE_ADMIN') %}
            {{ form_start(delete_form) }}
            <br>
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

        {% endif %}
    </div>
{% endblock %}
